$primary-color: bisque;
$secondary-color: goldenrod;
$nav-item-color: blueviolet;
$nav-item-last-child-color: #e7e7e7;
$nav-item-last-child-border-color: #333333;
$container-background-color: lightgoldenrodyellow;