@import 'colors';

$base-font-size: 18px;

@function em($target, $base-font-size: $base-font-size) {
  @return ($target / $base-font-size) * 1em;
}


@mixin dark-navbar {
  @media (prefers-color-scheme: dark) {
    nav{
      background-color: #000000;

      a{
        color: white;

        &:hover {
          color: yellow;
        }
      }
    }
  }
}

.navbar {
  @include dark-navbar;
}

nav {
    background-color: $secondary-color;
    padding: 20px 0;
    text-align: center;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
  
      li {
        margin: 0 10px;
  
        a {
          color: $primary-color;
          font-size: em(18px);
          text-decoration: none;
  
          &:hover {
            color: #ff0000;
          }
        }
      }
    }
  }

.nav-item {
    background-color: $nav-item-color;
  }

.nav-item:last-child {
    @extend .nav-item;
    background-color: $nav-item-last-child-color;
    border-color: $nav-item-last-child-border-color;
}


.contenitori {
  background-color: $container-background-color;
  margin-bottom: 80px;
  display: flex;

    .container {
      display: flex;
      gap: 50px;
      justify-content: space-between;

      .first-column {
      width: calc(100% / 3);
      }
    }
  }
