
.flex-container{
    display: flex;
    height: 200px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background-color: blueviolet;
}

.flex-container > div {
    background-color: #f1f1f1;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 150px;
    justify-content: center;
    align-content: center;
    background-color: violet;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-align: center;
  }

  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr;
    width: 300px;
    height: 400px;
    border: 1px solid gray;
    padding: 10px;
    background-color: gainsboro;
  }

  .display {
    grid-column: 1 / span 4;
    height: 50px;
    border: 1px solid #aaa;
    background-color: #eee;
    text-align: right;
    font-size: 24px;
    padding: 10px;
  }

  .tasti {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 50px;
    width: 50px;
    gap: 20px 50px;
  }

  .tasto {
    background-color: #ccc;
    border: 1px solid #aaa;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
  }