.scatola {
    width: 500px;
    height: 500px;
}

.top {
    height: 10%;
    background-color: rgba(21,174,92,255);
    margin: 40px;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 40px;
    gap: 20%;

    .column {
        background-color: rgba(21,174,92,255);
        width: 45%;
        height: 100%;
        border-radius: 5px;
    }
}