Stylesheet

.header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.header h1 p {
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.nav-position {
    position: sticky;
}

.nav-position a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

ul {
display: flex;
align-items: center;
}

.column {
    float: left;
    text-align: center;
}

.column.side {
    width: 25%;
}

.column.middle {
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

img {
    border-radius: 10px 10px 0 0;
}

.x_box {
    width:fit-content;
    height: fit-content;
    background-color: #ddd;
    position: relative;
    left: 100%;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;
    font-size: medium;
    padding: 10px;
    bottom: 0;
}