Stylesheet

div {
 padding: 20px;
 margin: 50px;
 border: 30px;
}

div.split3 div{
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 0 2%
    }

img.float {
float: left;
}

.nascosto {
    display: none;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin: 0 10px;
}

ul#main-menu {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

ul#main-menu li {
    display: block;
    float: left;
}

ul#main-menu li a {
    display: block;
    text-align: center;
}

.inline, .inline-block, .block {
    display: inline;
    height: fit-content;
    width: 20%;
    border: 5px blueviolet;
    background-color: lightslategray;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}